<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
    </head>

    <body>

            <form method = "POST"> 
                    <div class = "form-group">

                      <label for = "name">Client Name</label>
                      <input type = "text" class = "form-control" id = "name" name = "name" placeholder = "Boris">

                    </div>

                    <div class = "form-group">

                            <label for = "gender">Client Gender</label>
                            <input type = "text" class = "form-control" id = "gender" name = "gender" placeholder = "M">

                    </div>

                    <div class = "form-group">

                            <label for = "phone_number">Client Phone Number</label>
                            <input type = "text" class = "form-control" id = "phone_number" name = "phone_number" placeholder = "7756986399">

                    </div>

                    <div class = "form-group">

                            <label for = "occupation">Client Occupation</label>
                            <input type = "text" class = "form-control" id = "occupation" name = "occupation" placeholder = "Student">

                    </div>

                    <button type = "submit" class = "btn btn-primary">Submit</button>

            </form>

    </body>

</html>